* {
  box-sizing: border-box;
  font-family: "MS PGothic", Osaka, "MS Gothic", Gothic, sans-serif;
}

.container {
  padding: 10px 45px;
  width: 100%;
  max-width: 1170px;
}

.section-title {
  width: 100%;
  max-width: 1170px;
  border-bottom: 2px solid #999;
  padding-bottom: 10px;
}

.section-mini-title {
  width: 30%;
  margin-left: 20px;
  border-bottom: 2px dashed #999;
  padding-bottom: 5px;
}

.top-wrapper {
  height: 300px;
  background-image: url("/images/header_jellyfish.jpeg");
  background-size: cover;
  color: rgba(255, 255, 255, 0.8);
}

.top-wrapper h1{
  font-size:60px;
  letter-spacing: 10px;
  font-weight: normal;
}

.top-wrapper h2{
  font-size: 30px;
}

.skill-item {
  height: 60px;
  margin-left: 30px;
  margin-bottom: 10px;
  
  //background-color: #fafafa;
}

.skill-icon, .skill-level, .skill-remarks{
  margin: 0 10px;
  line-height: 60px;
}

.skill-icon {
  text-align: center;
  height: 60px;
  width: 120px;
  float: left;
  position: relative;
  
  //background-color: #aaaaff;
  //opacity: 0.7;
}

.skill-img {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  font-size: 60px;
  color: rgba(35, 35, 35, 0.3);
}

.skill-name {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 25px;
}

.skill-level {
  font-size: 30px;
  float: left;
  padding: 0 15px;
  
  //background-color: #ffaaaa;
}

.skill-remarks {
  font-size: 25px;
  float: left;
  padding: 0 5px;
  
  //background-color: #aaffaa;
}
